*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
:root{
    --main-color: rgb(11, 207, 152);
    --main-text-color: rgb(39, 39, 39);
    --main-color-blur: rgb(156, 156, 156);
}
/* home Page */
#header .left-menu img{
    width: 300px;
}
#header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid rgb(226, 226, 226);
}
#header .right-menu a{
    text-decoration: none;
    padding: 0 10px;
    color: var(--main-text-color);
}
#header .right-menu i{
    padding: 0 5px;
    font-size: 20px;
}

#main{
    padding: 30px 5%;
}
#main h1{
    text-align: center;
    padding: 20px 0;
}
#main .shopBy{
    display: grid;
    padding: 0 5px;
}
#main .shopBy img{
    height: 100%;
    width: 100%;
    padding: 5px;
}
#main .shopBy .shopBy-img-1{
    grid-column: 1 /span 2;
    grid-row: 1 /span 2;
}
#main .shopBy .shopBy-img-2{
    grid-column: 3 /span 2;
    grid-row: 1 /span 1;
}
#main .shopBy .shopBy-img-3{
    grid-column: 3 /span 1;
    grid-row: 2 /span 1;
}
#main .shopBy .shopBy-img-4{
    grid-column: 4 /span 1;
    grid-row: 2 /span 1;
}
#main .newProduct, #main .topInWeek{
    display: grid;
}
#main .newProduct > div, #main .topInWeek > div{
    margin: 10px;
}
#main .newProduct img, #main .topInWeek img{
    width: 100%;
}
#main .newProduct .newProduct-img-1{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}
#main .newProduct .newProduct-img-2{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}
#main .newProduct .newProduct-img-3{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
}
#main .newProduct .newProduct-img-4{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 4/ span 1;
    grid-row: 1/ span 1;
}
#main .newProduct .newProduct-img-5{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
}
#main .newProduct .newProduct-img-6{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}
#main .newProduct .newProduct-img-7{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
}
#main .newProduct .newProduct-img-8{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 4/ span 1;
    grid-row: 2/ span 1;
}
#main .newProduct p, #main .topInWeek p{
    text-align: center;
    color: var(--main-text-color);
    padding: 5px 0;
}
#main .topInWeek .topInWeek-img-1{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 1/ span 1;
}
#main .topInWeek .topInWeek-img-2{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 2/ span 1;
}
#main .topInWeek .topInWeek-img-3{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 3/ span 1;
}
#main .topInWeek .topInWeek-img-4{
    background-color: #f8f8f8;
    border: 1px solid var(--main-color-blur);
    grid-column: 4/ span 1;
}
#footer{
    height: 300px;
    background-color: #e6e6e6;
    color: #787878;
}
#footer .top-footer{
    line-height: 2.0;
    font-size: 15px;
    padding: 30px 5.5%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cacaca ;
}
#footer .top-footer > div{
    width: 33.333%;
}
#footer .top-footer h3{
    font-size: 25px;
    padding: 10px 0;
}
#footer .top-footer .subscribe{
    background-color: #fff;
    display: inline-block;
    border: 1px solid var(--main-color-blur);
    width: 100%;
    height: 45px;
    padding: 3px 10px;
    border-radius: 20px;
}
#footer .top-footer input, #footer .top-footer button{
    outline: none;
    border: none;
    background-color: #ffffff;
}
#footer .bot-footer{
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}