#main{
    padding: 20px 5%;
}
#main .tagProduct{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
#main .product{
    display: grid;
    padding: 0 8%;
}
@media only screen and (min-width: 1560px) {
    #main .product{
        padding: 0 21%;
    }
    
}
#main .product .imgProduct{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}
#main .product .imgProduct .mainIMG img{
    display: block;
    width: 600px;
    float: right;
    padding-right: 50px;
    padding-left: auto;
    position: relative;
}
#main .product .imgProduct .subIMG img{
    padding-top: 10px;
    padding-right: 5px;
    width: 70px;
    display: inline;
}
#main .product .inforProduct{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}
#main .product .inforProduct .titleProduct h2 , #main .product .inforProduct .titleProduct p{
    padding: 30px 0 35px;
    line-height: 2.0;
}
#main .product .inforProduct .quantityProduct button{
    outline: none;
    border: 1px solid black;
    background-color: #fff;
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    margin: 5px 0
}
.descProduct{
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.relatedProduct .linkProduct{
    display: flex;
    justify-content: space-between;
}
.relatedProduct .linkProduct a:hover{
    background-color: rgb(233, 233, 233);
}
.relatedProduct .linkProduct a{
    margin: 0 10px;
}
.relatedProduct .linkProduct a h5{
    text-align: center;
}
.relatedProduct .linkProduct a img{
    width: 99%;
}
.relatedProduct .linkProduct div div{
    padding: 5px 0 15px;
}